@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
}

.hero-bg {
  background-position: center -6em;
}

@media (min-width: 768px) {
  .hero-bg {
    background-position: center -15em;
  }

  .invitation-canvas {
    zoom: 1.25;
  }
}
